<!DOCTYPE html>
<html>
<head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <nav class="navigation<%= navigationClass ? (' '+navigationClass) : '' %>">
        <div class="container">
            <a href="/" class="logo">i<span>-</span>fe</a>
            <div class="nav-list">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="#">发现</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
            </div>
            <div class="nav-side">
                <% if( loginUser ) { %>
                <div class="nav-user">
                    <div class="username">
                        <svg t="1480860379021" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3452" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14">
                            <path d="M786.831266 294.681835C783.937761 387.400807 758.300183 471.157431 694.939009 540.742459 682.378569 554.533578 667.197064 565.952587 653.142899 578.367413 646.477505 584.257761 639.262532 589.570349 632.902459 595.761321 609.312881 618.721468 608.584807 660.014972 631.136294 683.928661 637.876844 691.073174 645.960807 695.822092 655.543193 698.551193 730.614606 719.951853 806.53622 738.872367 880.423927 763.814752 960.483817 790.842716 1019.110165 857.069211 1022.459303 951.869064 1022.872661 963.598092 1023.004183 975.350606 1022.853872 987.089028 1022.586128 1007.475083 1008.499083 1022.13989 989.418862 1022.308991 969.854826 1022.478092 955.57989 1008.001174 954.809541 987.380257 954.12844 969.107963 955.490642 950.422312 952.108624 932.647927 942.718826 883.33622 913.304661 848.698716 866.238239 832.192587 819.2 815.70055 770.949872 802.646899 723.127193 788.433028 694.140477 779.818275 664.782679 772.429505 635.904 763.490642 586.169541 748.088367 557.43178 713.178422 548.934459 662.748771 540.873982 614.912 555.379083 573.651376 592.055193 541.090055 601.661064 532.56455 612.103046 524.98789 621.99545 516.772404 667.070239 479.349431 693.614385 430.653064 707.781284 374.619596 715.071413 345.78789 716.88455 316.444183 716.973798 286.682422 717.044257 263.468624 715.719633 240.804404 709.326679 218.520661 683.054972 126.877358 593.948183 64.676404 499.552294 72.027596 401.534826 79.660624 323.692037 149.814018 311.540257 247.399339 301.826349 325.387743 314.194202 400.52022 359.555523 467.432514 376.343486 492.196404 397.932037 511.840294 421.878606 529.849541 461.668991 559.766312 483.417248 599.965358 479.161541 650.855339 475.182972 698.424367 452.753615 735.532624 408.876624 756.261578 390.012477 765.172257 368.893651 769.418569 348.657908 775.313615 291.713174 791.899596 234.463119 807.47567 177.781431 824.911853 127.286018 840.450349 89.426202 870.850936 76.212844 924.371376 72.00411 941.408294 72.920073 959.718165 71.590752 977.454972 71.294826 981.428844 71.524991 985.440294 71.337101 989.42356 70.472807 1007.742826 56.855486 1021.641982 39.212624 1022.285505 20.893358 1022.952514 4.856954 1010.476624 3.945688 992.077505 1.982239 952.489101 3.710826 913.196624 20.747743 876.196404 43.360294 827.091376 79.660624 792.402202 129.132037 770.724404 164.765358 755.106055 202.752 747.397872 239.691156 736.213725 283.88756 722.831266 328.46444 710.717064 372.862826 698.015706 397.476404 690.974532 414.701211 662.744073 411.539963 634.631046 409.416807 615.734018 401.215413 600.425688 385.582972 589.011376 303.512661 529.079193 257.258862 447.798018 244.862826 347.59633 238.624881 297.161982 236.412477 246.131083 252.777688 196.871046 288.223119 90.149578 361.786716 24.834349 472.580697 6.933138 617.861872-16.539009 753.020477 80.430972 780.447706 224.791486 784.787963 247.67178 784.81145 271.369394 786.831266 294.681835L786.831266 294.681835Z" p-id="3453" fill="#ffffff"></path>
                        </svg>
                        <span><%=loginUser.nickName%></span>
                    </div>
                    <div class="action-list">
                        <a href="/catch/<%=loginUser.username%>">我的主页</a>
                        <a href="javascript:void(0)">退出</a>
                    </div>
                </div>
                <a href="/publish" class="publish">发布</a>
                <% } else { %>
                <a href="javascript:void(0)" class="login-btn">登录</a>
                <a href="javascript:void(0)" class="register-btn">注册</a>
                <a href="https://github.com/login/oauth/authorize?client_id=64632b702a52a34814f7" class="github-login">github登录</a>
                <% }  %>
            </div>
        </div>
    </nav>
    <%- body %>
    <footer class="page-footer">

    </footer>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/dialog.js"></script>
    <script>
        (function(){
            var distance = 50,
                // 是否已经置灰
                isDarkened = false,
                darkenClassName = "darken",
                $nav = $("nav.navigation"),
                $win = $(window),
                useMethod;
            function fixClass(){
                var isNeedDarken = $win.scrollTop() > distance,
                    isNeedChange = isNeedDarken !== isDarkened;
                if (isNeedChange) {
                    isDarkened = isNeedDarken;
                    useMethod = (isNeedDarken ? 'add' : 'remove') + 'Class';
                    $nav[useMethod](darkenClassName);
                }
            }
            if( !$nav.hasClass(darkenClassName) ){
                $(window).on("scroll", fixClass);
                fixClass();
            }
            $('.login-btn').on('click', function () {
                UI.prompt('暂不开放登录！');
            });
            $('.register-btn').on('click', function () {
                UI.prompt('暂不开放注册！');
            });
        })();
    </script>
</body>
</html>
