<link rel="stylesheet" href="/styles/page/profile.css">

<div class="user-cover">
    <div class="author-location">
        <a href="http://bh-lay.com" target="_blank">东平森林公园 By:@剧中人</a>
    </div>
</div>
<div class="user-profile">
    <div class="container">
        <div class="avatar">
            <img src="<%=userInfo.avatar%>">
        </div>
        <div class="user-profile-body">
            <h1 class="username">
                <%=userInfo.nickName%>
                <small class="biography">
                    <% if(userInfo.bio && userInfo.bio.length){ %>
                    <%=userInfo.bio%>
                    <% } else { %>
                    <span>伦家还没想好怎么描述自己捏！</span>
                    <% } %>
                </small>
            </h1>
            <% if(userInfo.company){ %>
            <div class="intro-item">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1481210331822" style="" viewBox="0 0 1195 1024" version="1.1" p-id="3123">
                    <path d="M1038.08 170.24 852.48 170.24 852.48 85.76C852.48 38.4 812.8 0 765.44 0L427.52 0c-48.64 0-87.04 38.4-87.04 85.76l0 85.76L154.88 171.52c-85.76 0-154.88 69.12-154.88 153.6L0 870.4c0 84.48 69.12 153.6 154.88 153.6l884.48 0c85.76 0 154.88-69.12 154.88-153.6L1194.24 323.84C1194.24 239.36 1123.84 170.24 1038.08 170.24L1038.08 170.24zM382.72 85.76c0-23.04 20.48-42.24 44.8-42.24l337.92 0c24.32 0 44.8 19.2 44.8 42.24l0 85.76L382.72 171.52 382.72 85.76 382.72 85.76zM154.88 213.76l884.48 0c62.72 0 112.64 49.92 112.64 111.36l0 102.4L42.24 427.52l0-102.4C42.24 263.68 92.16 213.76 154.88 213.76L154.88 213.76zM721.92 469.76c-11.52 48.64-64 85.76-125.44 85.76-61.44 0-113.92-37.12-125.44-85.76L721.92 469.76 721.92 469.76zM1038.08 981.76 154.88 981.76c-62.72 0-112.64-49.92-112.64-111.36L42.24 469.76 427.52 469.76c11.52 71.68 83.2 128 168.96 128 85.76 0 157.44-56.32 168.96-128l386.56 0L1152 870.4C1150.72 931.84 1100.8 981.76 1038.08 981.76L1038.08 981.76zM1038.08 981.76"></path>
                </svg>
                <span><%= userInfo.company %></span>
            </div>
            <% } %>
            <div class="intro-item gender">
                <% if(userInfo.gender === 'male'){ %>
                <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M598.692864 154.631168c147.339264 0 267.249664 119.922688 267.249664 267.262976 0 147.3536-119.9104 267.265024-267.249664 267.265024-147.354624 0-267.260928-119.912448-267.260928-267.265024-0.00512-147.340288 119.906304-267.262976 267.260928-267.262976zM123.565056 926.724096h237.564928c16.39424 0 29.683712-13.303808 29.683712-29.704192 0-16.381952-13.289472-29.68576-29.683712-29.68576H193.399808l195.337216-195.34336c56.772608 47.699968 129.954816 76.56448 209.95584 76.56448 180.434944 0 326.647808-146.225152 326.647808-326.66112 0-180.371456-146.21184-326.648832-326.647808-326.648832-180.373504 0-326.65088 146.277376-326.65088 326.648832 0 79.048704 28.090368 151.510016 74.830848 207.97952L153.263104 823.499776V659.473408c0-16.406528-13.315072-29.700096-29.698048-29.700096-16.400384 0-29.698048 13.293568-29.698048 29.700096v237.54752c-0.00512 16.39936 13.297664 29.703168 29.698048 29.703168z"></path>
                </svg>
                <span>男码畜</span>
                <% } else if(userInfo.gender === 'female'){ %>
                <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M602.53399 121.078536c-169.500167 0-306.907087 137.40692-306.907087 306.907087 0 73.586322 25.910181 141.11676 69.089902 193.987851l-93.683245 93.683246-103.405923-103.407879a28.555594 28.555594 0 0 0-20.537174-8.380404c-16.081844 0.125227-29.222817 13.2662-29.346087 29.348044a28.577117 28.577117 0 0 0 8.368664 20.533261l103.415705 103.413749-98.657092 98.657092a29.246297 29.246297 0 0 0-8.609334 20.766104c0 16.209027 13.139017 29.348044 29.348044 29.348044a29.250211 29.250211 0 0 0 20.760234-8.601507l98.662963-98.662962 103.049809 103.047852a29.263907 29.263907 0 0 0 20.752407 8.595637c16.209027 0 29.348044-13.139017 29.348044-29.350001a29.250211 29.250211 0 0 0-8.601507-20.760234l-103.040026-103.040025 93.462142-93.462143c53.240901 44.439814 121.759456 71.191362 196.531518 71.191362 169.500167 0 306.907087-137.40692 306.907087-306.90513-0.001957-169.502124-137.408876-306.909044-306.909044-306.909044z m0.08805 555.286359c-137.13103 0-248.293179-111.164106-248.293179-248.293179S465.492967 179.778537 602.62204 179.778537c137.12516 0 248.291222 111.164106 248.291223 248.293179 0 137.127116-111.166063 248.293179-248.291223 248.293179z"></path>
                </svg>
                <span>女码农</span>
                <% } else{ %>
                <svg class="icon" width="18" height="18" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3819">
                    <path d="M539.062356 359.852788c0-127.755686-103.56575-231.322459-231.322459-231.322459-127.755686 0-231.321436 103.566774-231.321436 231.322459 0 118.747521 89.480964 216.578664 204.690916 229.7875l0 175.488827L177.155792 765.129114c-13.96813 0-25.292036 11.323906-25.292036 25.292036l0 2.677992c0 13.96813 11.323906 25.292036 25.292036 25.292036l103.953583 0 0 112.415302c0 14.70798 11.922541 26.630521 26.630521 26.630521l0 0c14.70798 0 26.630521-11.922541 26.630521-26.630521L334.370417 818.390155l103.953583 0c13.96813 0 25.292036-11.323906 25.292036-25.292036l0-2.677992c0-13.96813-11.323906-25.292036-25.292036-25.292036L334.37144 765.128091 334.37144 589.639265C449.581392 576.431451 539.062356 478.600309 539.062356 359.852788zM130.203434 359.852788c0-98.051153 79.486332-177.537486 177.537486-177.537486s177.537486 79.486332 177.537486 177.537486-79.486332 177.537486-177.537486 177.537486S130.203434 457.903941 130.203434 359.852788z" p-id="3820"></path><path d="M743.230362 431.812703 743.230362 256.323876l103.953583 0c13.96813 0 25.292036-11.323906 25.292036-25.292036l0-2.677992c0-13.96813-11.323906-25.292036-25.292036-25.292036L743.230362 203.061812 743.230362 90.647533c0-14.70798-11.922541-26.630521-26.630521-26.630521l0 0c-14.70798 0-26.630521 11.922541-26.630521 26.630521l0 112.415302L586.014714 203.062835c-13.96813 0-25.292036 11.323906-25.292036 25.292036l0 2.677992c0 13.96813 11.323906 25.292036 25.292036 25.292036l103.953583 0 0 175.488827c-115.209952 13.208836-204.690916 111.039979-204.690916 229.7875 0 127.755686 103.56575 231.322459 231.322459 231.322459 127.755686 0 231.321436-103.566774 231.321436-231.322459C947.921277 542.852682 858.440313 445.021539 743.230362 431.812703zM716.599841 839.137689c-98.051153 0-177.537486-79.486332-177.537486-177.537486s79.486332-177.537486 177.537486-177.537486 177.537486 79.486332 177.537486 177.537486S814.650995 839.137689 716.599841 839.137689z" p-id="3821"></path>
                </svg>
                <span>神秘性别</span>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="opus-list clearfix">
        <% if (opusList.length === 0) { %>
            <div class="list-empty">
                <div class="icon-cry">
                    <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M624.128 633.344l-102.912-49.152c-4.096-2.048-9.216-2.048-13.312 0.512l-91.136 49.152c-7.68 4.096-10.752 13.824-6.656 22.016 3.584 8.192 12.8 11.264 20.48 7.168l84.48-45.568 96.256 46.08c2.048 1.024 4.096 1.536 6.144 1.536 5.632 0 11.264-3.584 13.824-9.728 4.096-8.192 0.512-17.92-7.168-22.016z m-262.144-268.8h-254.464c-11.264 0-19.968 4.608-19.968 17.92s9.216 17.92 19.968 17.92h49.664c20.48 48.128 4.608 98.816 4.608 98.816-34.816 92.16 0 151.552 0 151.552 20.48 49.152 5.12 108.032 5.12 108.032 78.336-15.36 136.192 16.384 136.192 16.384 39.424-46.592 5.12-119.296 5.12-119.296-23.04-57.856 0-121.856 0-121.856 20.48-49.664 16.896-101.888 11.776-133.632h41.472c11.264 0 19.968-4.608 19.968-17.92 0.512-13.312-8.192-17.92-19.456-17.92z m-67.584 157.184l-1.536 4.096c-10.752 29.696-24.064 67.072 5.632 143.36 17.92 46.592 7.168 73.216-0.512 84.992-1.536-0.512-2.56-1.024-4.096-1.536-17.408-6.656-34.304-10.752-50.688-12.8-1.536 0-2.56-0.512-4.096-0.512-7.68-1.024-14.848-1.536-22.016-1.536h-4.608c-5.632 0-11.264 0.512-16.896 1.024-1.536 0-3.072 0.512-4.096 0.512-1.024 0-2.048 0.512-3.072 0.512 5.12-24.064 6.656-59.392-7.68-84.48-22.016-39.424-20.992-105.472-0.512-165.888 8.192-23.04 0.512-62.464-6.656-89.6h130.56c5.12 24.064 9.216 68.096-9.728 121.856z m622.592-157.184h-254.464c-11.264 0-19.968 4.608-19.968 17.92s9.216 17.92 19.968 17.92h44.544c-5.12 31.744-8.192 83.968 11.776 133.632 0 0 23.04 64 0 121.856 0 0-34.304 72.192 5.12 119.296 0 0 57.856-31.744 136.192-16.384 0 0-15.36-58.88 5.12-108.032 0 0 34.816-59.392 0-151.552 0 0-15.872-50.688 4.608-98.816h46.592c11.264 0 19.968-4.608 19.968-17.92 0.512-13.312-8.704-17.92-19.456-17.92z m-69.632 125.44c20.992 60.416 22.016 126.464-0.512 165.888-14.336 25.088-12.288 59.904-7.68 84.48-1.024 0-2.048-0.512-3.072-0.512-1.536 0-3.072-0.512-4.096-0.512-5.632-0.512-11.264-1.024-16.896-1.024h-4.608c-7.168 0-14.336 0.512-22.016 1.536-1.536 0-2.56 0.512-4.096 0.512-15.872 2.048-32.768 6.144-50.688 12.8-1.536 0.512-2.56 1.024-4.096 1.536-7.68-11.264-18.944-37.888-0.512-84.992 29.696-76.8 16.384-113.664 5.632-143.36l-1.536-4.096c-18.944-53.76-14.848-97.792-9.728-121.344h130.56c-7.168 26.624-14.336 66.048-6.656 89.088z"></path>
                    </svg>
                </div>
                <p>真懒，竟然还没有上传作品</p>
            </div>
        <% } %>
        <% opusList.forEach(function( item, index ){ %>
            <div class="opus-item">
                <div class="cover" style="background-image: url(<%= item.cover %>)"></div>
                <div class="intro">
                    <div class="title"><%= item.title %></div>
                    <div class="desc"><%= item.intro %></div>
                </div>
                <div class="data">
                </div>
            </div>
        <% })%>
    </div>
</div>