<link rel="stylesheet" href="/styles/page/profile.css">

<div class="user-cover">
    <div class="author-location">
        <a href="http://bh-lay.com" target="_blank">东平森林公园 By:@剧中人</a>
    </div>
</div>
<div class="user-profile">
    <div class="container">
        <div class="avatar">
            <img src="<%=userInfo.avatar%>">
        </div>
        <div class="user-profile-body">
            <h1 class="username">
                <%=userInfo.nickName%>
                <small class="biography">
                    <% if(userInfo.bio && userInfo.bio.length){ %>
                    <%=userInfo.bio%>
                    <% } else { %>
                    <span>伦家还没想好怎么描述自己捏！</span>
                    <% } %>
                </small>
            </h1>
            <% if(userInfo.company){ %>
            <div class="intro-item">
                <svg class="icon" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" t="1481210331822" style="" viewBox="0 0 1024 1024" version="1.1" p-id="3123">
                    <defs><style type="text/css"/></defs>
                    <path d="M819.027675 920.407644l-14.619976 0L804.4077 259.933077l14.619976 0c56.524364 0 102.3429 49.573045 102.3429 105.559151l0 453.53954C921.370575 875.017874 875.55204 920.407644 819.027675 920.407644zM726.431767 920.407644 297.567209 920.407644 297.567209 259.933077l38.854936 0 0-89.024569c0-27.993564 42.535769-68.481697 70.797439-68.481697l209.558783 0c28.261671 0 69.491701 40.489156 69.491701 68.481697l0 89.024569 40.160675 0L726.430744 920.407644zM609.468892 204.644867c0-13.988596-11.45489-25.338085-25.583678-25.338085L440.117856 179.306782c-14.132882 0-25.587771 11.349489-25.587771 25.338085l0 55.288211c15.193027 0 179.74885 0 194.938807 0L609.468892 204.644867zM297.567209 921.573189l-77.974909 0 0-1.165546 77.974909 0L297.567209 921.573189zM204.972325 920.407644c-56.520271 0-102.3429-45.38977-102.3429-101.375875l0-453.53954c0-55.986105 45.822628-105.559151 102.3429-105.559151l14.619976 0 0 660.474566L204.972325 920.407644zM219.5923 258.782881l77.974909 0 0 1.150196-77.974909 0L219.5923 258.782881z" p-id="3124"/>
                </svg>
                <span><%= userInfo.company %></span>
            </div>
            <% } %>
            <div class="intro-item gender">
                <% if(userInfo.gender === 'male'){ %>
                <svg class="icon" width="18" height="18" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M805.735598 215.162846H609.790236v49.016748h136.833353l-118.467276 118.467276c-22.623114-19.217484-47.922081-34.786079-75.410381-46.340895-36.245635-15.325336-74.802233-23.109633-114.453498-23.109633s-78.207863 7.784297-114.453498 23.109633c-35.029338 14.838817-66.409787 36.002376-93.411569 63.004157-27.001782 27.001782-48.16534 58.382231-63.004158 93.411569-15.325336 36.245635-23.109633 74.802233-23.109633 114.453498s7.784297 78.207863 23.109633 114.453498C182.262026 756.536406 203.425585 787.916855 230.427367 814.918636c27.001782 27.001782 58.382231 48.16534 93.411569 63.004158 36.245635 15.325336 74.802233 23.109633 114.453498 23.109633 39.651265 0 78.207863-7.784297 114.453498-23.109633 35.029338-14.838817 66.409787-36.002376 93.411569-63.004158 27.001782-27.001782 48.16534-58.382231 63.004157-93.411569 15.325336-36.245635 23.109633-74.802233 23.109633-114.453498s-7.784297-78.207863-23.109633-114.453498c-11.676446-27.4883-27.245041-52.787267-46.340895-75.410381l118.467276-118.467276v136.833353h49.016748V239.610405c-0.12163-13.500891-11.068298-24.447559-24.569189-24.447559zM683.254543 607.053569c0 135.130538-109.831571 244.96211-244.962109 244.96211C303.161896 852.015679 193.330324 742.184107 193.330324 607.053569s109.831571-244.96211 244.96211-244.962109c135.008908 0 244.96211 109.953201 244.962109 244.962109z" />
                </svg>
                <span>男码畜</span>
                <% } else if(userInfo.gender === 'female'){ %>
                <svg class="icon" width="18" height="18" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M652.6976 133.12c-15.940267 0-28.842667 12.9024-28.842667 28.842667s12.9024 28.842667 28.842667 28.842667l151.586133 0L654.097067 340.992c-56.661333-52.565333-132.266667-84.992-215.4496-84.992-175.035733 0-317.44 142.404267-317.44 317.44s142.404267 317.44 317.44 317.44 317.44-142.404267 317.44-317.44c0-71.0656-23.7568-136.4992-63.351467-189.474133l152.337067-152.337067 0 151.586133c0 15.940267 12.9024 28.842667 28.842667 28.842667s28.842667-12.9024 28.842667-28.842667L902.7584 133.12 652.6976 133.12zM438.647467 833.160533c-143.223467 0-259.720533-116.497067-259.720533-259.720533s116.497067-259.720533 259.720533-259.720533 259.720533 116.497067 259.720533 259.720533S581.870933 833.160533 438.647467 833.160533z" />
                </svg>
                <span>女码农</span>
                <% } else{ %>
                <svg class="icon" width="18" height="18" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3819">
                    <path d="M539.062356 359.852788c0-127.755686-103.56575-231.322459-231.322459-231.322459-127.755686 0-231.321436 103.566774-231.321436 231.322459 0 118.747521 89.480964 216.578664 204.690916 229.7875l0 175.488827L177.155792 765.129114c-13.96813 0-25.292036 11.323906-25.292036 25.292036l0 2.677992c0 13.96813 11.323906 25.292036 25.292036 25.292036l103.953583 0 0 112.415302c0 14.70798 11.922541 26.630521 26.630521 26.630521l0 0c14.70798 0 26.630521-11.922541 26.630521-26.630521L334.370417 818.390155l103.953583 0c13.96813 0 25.292036-11.323906 25.292036-25.292036l0-2.677992c0-13.96813-11.323906-25.292036-25.292036-25.292036L334.37144 765.128091 334.37144 589.639265C449.581392 576.431451 539.062356 478.600309 539.062356 359.852788zM130.203434 359.852788c0-98.051153 79.486332-177.537486 177.537486-177.537486s177.537486 79.486332 177.537486 177.537486-79.486332 177.537486-177.537486 177.537486S130.203434 457.903941 130.203434 359.852788z" p-id="3820"></path><path d="M743.230362 431.812703 743.230362 256.323876l103.953583 0c13.96813 0 25.292036-11.323906 25.292036-25.292036l0-2.677992c0-13.96813-11.323906-25.292036-25.292036-25.292036L743.230362 203.061812 743.230362 90.647533c0-14.70798-11.922541-26.630521-26.630521-26.630521l0 0c-14.70798 0-26.630521 11.922541-26.630521 26.630521l0 112.415302L586.014714 203.062835c-13.96813 0-25.292036 11.323906-25.292036 25.292036l0 2.677992c0 13.96813 11.323906 25.292036 25.292036 25.292036l103.953583 0 0 175.488827c-115.209952 13.208836-204.690916 111.039979-204.690916 229.7875 0 127.755686 103.56575 231.322459 231.322459 231.322459 127.755686 0 231.321436-103.566774 231.321436-231.322459C947.921277 542.852682 858.440313 445.021539 743.230362 431.812703zM716.599841 839.137689c-98.051153 0-177.537486-79.486332-177.537486-177.537486s79.486332-177.537486 177.537486-177.537486 177.537486 79.486332 177.537486 177.537486S814.650995 839.137689 716.599841 839.137689z" p-id="3821"></path>
                </svg>
                <span>神秘性别</span>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="opus-list clearfix">
        <% opusList.forEach(function( item, index ){ %>
            <div class="opus-item">
                <div class="cover" style="background-image: url(<%= item.cover %>)"></div>
                <div class="intro">
                    <div class="title"><%= item.title %></div>
                    <div class="desc"><%= item.intro %></div>
                </div>
                <div class="data">
                </div>
            </div>
        <% })%>
    </div>
    <p><%=JSON.stringify(userInfo)%></p>
</div>