<link rel="stylesheet" href="/styles/page/profile.css">

<div class="user-page">
<div class="user-cover">
    <div class="author-location">
        <a href="http://bh-lay.com" target="_blank">东平森林公园 By:@剧中人</a>
    </div>
</div>
<div class="container">
    <div class="user-profile">
        <div class="avatar">
            <img src="https://s1.tuchong.com/sites/165/1658480/logo_large.jpg?1">
        </div>
        <div class="user-profile-body">
            <h1 class="username">
                <%=userInfo.nickName%>
                <small><%=userInfo.username%></small>
            </h1>
            <div class="gender">
                <% if(loginUser.gender == 'male'){ %>
                <svg class="icon" width="24" height="24" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#333" d="M805.735598 215.162846H609.790236v49.016748h136.833353l-118.467276 118.467276c-22.623114-19.217484-47.922081-34.786079-75.410381-46.340895-36.245635-15.325336-74.802233-23.109633-114.453498-23.109633s-78.207863 7.784297-114.453498 23.109633c-35.029338 14.838817-66.409787 36.002376-93.411569 63.004157-27.001782 27.001782-48.16534 58.382231-63.004158 93.411569-15.325336 36.245635-23.109633 74.802233-23.109633 114.453498s7.784297 78.207863 23.109633 114.453498C182.262026 756.536406 203.425585 787.916855 230.427367 814.918636c27.001782 27.001782 58.382231 48.16534 93.411569 63.004158 36.245635 15.325336 74.802233 23.109633 114.453498 23.109633 39.651265 0 78.207863-7.784297 114.453498-23.109633 35.029338-14.838817 66.409787-36.002376 93.411569-63.004158 27.001782-27.001782 48.16534-58.382231 63.004157-93.411569 15.325336-36.245635 23.109633-74.802233 23.109633-114.453498s-7.784297-78.207863-23.109633-114.453498c-11.676446-27.4883-27.245041-52.787267-46.340895-75.410381l118.467276-118.467276v136.833353h49.016748V239.610405c-0.12163-13.500891-11.068298-24.447559-24.569189-24.447559zM683.254543 607.053569c0 135.130538-109.831571 244.96211-244.962109 244.96211C303.161896 852.015679 193.330324 742.184107 193.330324 607.053569s109.831571-244.96211 244.96211-244.962109c135.008908 0 244.96211 109.953201 244.962109 244.962109z" />
                </svg>
                <span>男码畜</span>
                <% } else{ %>
                <svg class="icon" width="24" height="24" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#333" d="M652.6976 133.12c-15.940267 0-28.842667 12.9024-28.842667 28.842667s12.9024 28.842667 28.842667 28.842667l151.586133 0L654.097067 340.992c-56.661333-52.565333-132.266667-84.992-215.4496-84.992-175.035733 0-317.44 142.404267-317.44 317.44s142.404267 317.44 317.44 317.44 317.44-142.404267 317.44-317.44c0-71.0656-23.7568-136.4992-63.351467-189.474133l152.337067-152.337067 0 151.586133c0 15.940267 12.9024 28.842667 28.842667 28.842667s28.842667-12.9024 28.842667-28.842667L902.7584 133.12 652.6976 133.12zM438.647467 833.160533c-143.223467 0-259.720533-116.497067-259.720533-259.720533s116.497067-259.720533 259.720533-259.720533 259.720533 116.497067 259.720533 259.720533S581.870933 833.160533 438.647467 833.160533z" />
                </svg>
                <span>程序媛</span>
                <% } %>
            </div>
        </div>
    </div>
    <div class="opus-list clearfix">
        <% opusList.forEach(function( item, index ){ %>
            <div class="opus-item">
                <div class="cover" style="background-image: url(<%= item.cover %>)"></div>
                <div class="intro">
                    <div class="title"><%= item.title %></div>
                    <div class="desc"><%= item.intro %></div>
                </div>
                <div class="data">
                </div>
            </div>
        <% })%>
    </div>
</div>
</div>